@font-face {
  src: url("../fonts/Mulish-Regular.ttf");
  font-family: 'Mulish';
  font-weight: 400;
}
@font-face {
  src: url("../fonts/Mulish-SemiBold.ttf");
  font-family: 'Mulish-SemiBold';
  font-weight: 600;
}
@font-face {
  src: url("../fonts/Mulish-Bold.ttf");
  font-family: 'Mulish-Bold';
  font-weight: 700;
}
@font-face {
  src: url("../fonts/Mulish-Medium.ttf");
  font-family: 'Mulish-Medium';
  font-weight: 500;
}
@font-face {
  src: url("../fonts/Onest.ttf");
  font-family: "Onest";
  font-weight: 400;
}